/* -- common -- */
.modal,
.modal-mask {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}

.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.modal-dialog {
    position: relative;
    z-index: 101;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    max-height: 100%;
    overflow: auto;
}

.modal-close {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
}

.modal-close:before,
.modal-close:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #999;
    border-radius: 100%;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.modal-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-close:hover:before,
.modal-close:hover:after {
    background: #333;
}

/* -- fade -- */
@-webkit-keyframes modal-fade-enter {
    from {
        opacity: 0;
    }
}

@keyframes modal-fade-enter {
    from {
        opacity: 0;
    }
}

.modal-fade-enter-active {
    -webkit-animation: modal-fade-enter both ease-in;
    animation: modal-fade-enter both ease-in;
}

@-webkit-keyframes modal-fade-leave {
    to {
        opacity: 0
    }
}

@keyframes modal-fade-leave {
    to {
        opacity: 0
    }
}

.modal-fade-leave-active {
    -webkit-animation: modal-fade-leave both ease-out;
    animation: modal-fade-leave both ease-out;
}
